.non-active {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
.devider {
    width: 100%;
    height: 1px;
    background: rgb(209, 207, 207);
    margin: 15px 0;
}

.page {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.switch__wrap{
    text-align: left;
    background-color: #fff;
}

.switch__btn {
    min-width: 125px;
    padding: 5px;
    border: 1.5px solid rgb(141, 139, 139);
    text-decoration: none;
    color:rgba(0, 0, 0, 0.753);
    transition: all .2s ease;
}

.switch__btn:hover {
    background-color: rgb(209, 207, 207);
}

.container {
    max-width: 1260px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid rgb(235, 235, 235);
}

.container--ln {
    border: none;
    padding: 20px 0;
}

.header__title {
    font-size: 50px;
    letter-spacing: 2.5px;
}

.header__subtitle {
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.left-side {
    width: 25%;
    padding-right: 10px;
}

.right-side {
    width: 75%;
}

.content {
    display: flex;
}

.content__column {
    display: flex;
    flex-direction: column;
}

.content__column--left {
    margin-right: 60px;
}

.content__item {
    display: flex;
    flex-direction: column;
}

.content__item:not(:last-child) {
    margin-bottom: 30px;
}

.content__header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(209, 207, 207);
}

.content__icon {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.753);
}

.content__title {
    font-size: 30px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.753);
}

.contact {
    font-weight: 700;
}

.contact__item:not(:last-child) {
    margin-bottom: 30px;
}

.contact__link {
    color: rgba(0, 0, 0, 0.753);
    text-decoration: none;
    transition: color .2s linear;
}

.contact__link--flex {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contact__link--flex:not(:last-child) {
    margin-bottom: 10px;
}

.contact__icon {
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-right: 10px;
}

.skills__item:not(:last-child) {
    margin-bottom: 7px;
}

.info-block:not(:last-child) {
    margin-bottom: 20px;
}

.info-block--projects:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(209, 207, 207);
}

.info-block__item {
    display: flex;
}

.info-block__item:not(:last-child) {
    margin-bottom: 10px;
}

.info-block__title {
    font-weight: 500;
}

.info-block__meta {
    display: flex;
    flex-direction: column;
}

.info-block__link {
    cursor: pointer;
    color: blue;
    transition: all .2s ease;
    text-decoration: none;
    text-transform: none;
    line-height: 2;
}

.info-block__link:hover {
    text-decoration: underline;
}



@media (max-width: 1260px) {
    .container {
        max-width: 100%;
        margin: 10px;
        padding: 15px;
    }
}

@media (max-width: 780px) {
    .container--ln {
        padding: 10px 0;
    }

    .header__title {
        font-size: 30px;
    }

    .contact__icon {
        font-size: 20px;
    }

    .content {
        flex-direction: column;
    }

    .content__item:last-child {
        margin-bottom: 30px;
    }

    .content__title {
        font-size: 20px;
    }

    .content__icon {
        font-size: 20px;
    }

    .left-side {
        width: 100%;
        padding-right: 0;
    }
    
    .right-side {
        width: 100%;
    }

    .info-block__item {
        flex-direction: column;
    }

    .skills__item:not(:last-child) {
        margin-bottom: 3px;
    }
}

.framework__icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}