
.page {
    overflow: hidden;
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.main {
    padding: 60px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border: 1px solid rgb(235, 235, 235);
}

.btn__switch {
    padding: 5px;
    border: 1.5px solid rgb(141, 139, 139);
    margin-left: 50px;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.753);
    transition: all .2s ease;
}

.btn__switch:hover {
    background-color: rgb(209, 207, 207);
}

.name__title {
    font-size: 50px;
    letter-spacing: 2.5px;
    padding: 15px 5px;
    border-bottom: 1.5px solid rgb(209, 207, 207);
}

.prof__title {
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1.5px solid rgb(209, 207, 207);
}

.content__block {
    display: flex;
}

.content__left {
    width: 30%;
    margin-right: 80px;
}

.content__right {
    width: 70%;
}

.item__body {
    display: flex;
}

.item__body--last {
    margin-bottom: 20px;
}

.item__body-left {
    width: 25%;
    margin-right: 20px;
}

.item__body-right {
    width: 75%;
}

.item__header {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
    border-bottom: 1px solid rgb(209, 207, 207);
}

.item__header-icon {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.753);
}

.item__header-title {
    font-size: 30px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.753);
}

.item__title {
    padding: 5px;
    text-transform: uppercase;
}

.item__text {
    padding: 5px;
}

.item__link {
    cursor: pointer;
    color: blue;
    transition: all .2s ease;
    text-decoration: none;
    text-transform: none;
}

.item__link:hover {
    text-decoration: underline;
}

.contact__block {
    font-weight: 700;
}

.contact__item {
    margin-bottom: 30px;
}

.contact__link {
    color: rgba(0, 0, 0, 0.753);
    text-decoration: none;
}

.contact__link--flex {
    display: flex;
    color: rgba(0, 0, 0, 0.753);
    text-decoration: none;
    margin: 10px 0;
    
}

.contact__icon {
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding: 0 5px;
}



@media (max-width: 990px) {
    .container {
        padding: 20px;
    }
    .item__header-title,
    .item__header-icon {
        font-size: 22px;
    }
    .name__title {
        font-size: 35px;
    }
    .item__title {
        font-size: 14px;
    }
    .prof__title {
        font-size: 14px;
    }
    .content__block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content__left {
        width: 100%;
        margin-right: 0;
    }
    .content__right {
        width: 100%;
    }
    .contact__block {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .content__item {
        width: 100%;
    }
    .contact__item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .item__header {
        margin: 0;
        margin-bottom: 8px;
    }
    .contact__link--flex,
    .contact__link {
        margin-right: 15px;
    }
    .tel__links {
        margin-left: 10px;
    }
}

@media (max-width: 500px) {
    .contact__item {
        flex-wrap: wrap;
    }
    .item__body {
        display: flex;
        flex-wrap: wrap;
    }
    .item__body--last {
        margin-bottom: 10px;
    }
    .item__body-left {
        width: 100%;
        margin-right: 20px;
    }
    .item__body-right {
        width: 100%;
    }
    .item__text {
        margin-bottom: 15px;
    }
}